@model OnlineShop.Models.ItemFinal

<h2>Details</h2>

<div>
    <h4>ProductView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="data:image;base64,@Model.Image" width="80" height="80" />
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
