@using Newtonsoft.Json;
@using System.Text;

@model IEnumerable<OnlineShop.Models.ItemFinal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    string jsonData = JsonConvert.SerializeObject(Model);
}
<h2>Products</h2>

<table class="table" >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryCategoryName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="80" height="80" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryCategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryCategoryName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ItemID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ItemID })
                </td>
            </tr>
        }

    </table>

@*<script>
    var viewModel = ko.mapping.fromJS($.parseJSON('@Html.Raw(jsonData)'));
</script>

<div data-bind='simpleGrid: gridViewModel'> </div>

<button data-bind='click: sortByName'>
    Sort by name
</button>

<button data-bind='click: sortByPrimaryCategoryName'>
    Sort by Category
</button>

<button data-bind='click: jumpToFirstPage, enable: gridViewModel.currentPageIndex'>
    Jump to first page
</button>*@

@*<script src="~/App/app2.js"></script>*@