@model IEnumerable <OnlineShop.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatchCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewItemURLForNaturalSearch)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryCategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WatchCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewItemURLForNaturalSearch)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ItemID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ItemID })
                </td>
            </tr>
        }

    </table>

<script>
    var vm = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));
</script>

<div data-bind='simpleGrid: gridViewModel'> </div>

<button data-bind='click: sortByName'>
    Sort by name
</button>

<button data-bind='click: jumpToFirstPage, enable: gridViewModel.currentPageIndex'>
    Jump to first page
</button>

<h2>Model: <span data-bind="text: @Model"> </span></h2>

<script src="~/App/app2.js"></script>