<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,  initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse" style="padding-left: -2em !important">
        <nav class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="btn-toolbar">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="btn-toolbar">@Html.ActionLink("Products", "Index", "Products")</li>
                <li>
                    <form class="form-inline my-2 my-lg-0" action="/Home/SearchItemsByKeyword" method="get">
                        <input name="keyword" class="form-control input-sm" type="text" placeholder="Search by keyword" style="min-width: initial">
                        <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="jumbotron">
            @RenderBody()
        </div>
    </div>
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - ASP.NET Application &nbsp;&nbsp;&nbsp;&nbsp;</p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
